@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

.test {
  font-size: clamp(14.642px, 0.915rem + ((1vw - 6px) * 1.84), 22px);
}

/* 🔤 Font Styles */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

 body {
    cursor: url('custom-cursor.png') 16 16, pointer;
  }